<?xml version="1.0"?>
<config>
    <modules>
        <CartHook_Tracker>
            <version>1.4.1</version>
        </CartHook_Tracker>
    </modules>
    <global>
        <blocks>
            <carthook_tracker>
                <class>CartHook_Tracker_Block</class>
            </carthook_tracker>
        </blocks>
        <helpers>
            <carthook_tracker>
                <class>CartHook_Tracker_Helper</class>
            </carthook_tracker>
        </helpers>
        <models>
            <carthook_tracker>
                <class>CartHook_Tracker_Model</class>
            </carthook_tracker>
        </models>
    </global>
    <frontend>
        <routers>
            <carthook>
                <use>standard</use>
                <args>
                    <module>CartHook_Tracker</module>
                    <frontName>carthook</frontName>
                </args>
            </carthook>
        </routers>
        <layout>
            <updates>
                <carthook_tracker>
                    <file>carthook_tracker.xml</file>
                </carthook_tracker>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <carthook_tracker before="Mage_Adminhtml">CartHook_Tracker_Adminhtml</carthook_tracker>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <CartHook_Tracker>
                    <files>
                        <default>CartHook_Tracker.csv</default>
                    </files>
                </CartHook_Tracker>
            </modules>
        </translate>
        <layout>
            <updates>
                <carthook_tracker>
                    <file>carthook_tracker.xml</file>
                </carthook_tracker>
            </updates>
        </layout>
    </adminhtml>
</config>